<div class="container-fluid">
    <button class="btn btn-primary mr-3" (click)="resetButton()">Reset</button>
    <button class="btn btn-primary " (click)="add()">
        Add
    </button>
    <div *ngFor="let x of counterList;let i =index" class="my-3 ">
        <div class="d-flex gap-3 ">
            <div class="badge badge-primary text-center my-auto">
                {{ x.count }}
            </div>
            <div>
                <button class="btn btn-secondary mx-3" (click)="incrementCounter(i)">
                    Increment
                </button>
                <button class="btn btn-secondary mx-3" (click)="decrementCounter(i)">
                    Decrement
                </button>
                <button class="btn btn-danger mx-3" (click)="deleteCounter(i)">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>