<app-loader *ngIf="isLoading"></app-loader>
<div class="row" style="    height: calc(100vh - 7vh);">
  <div class="col-lg-4 col-xl-3">
    <div class="card h-100">
      <div class="card-header p-2">

        <form class="form-inline my-2 my-lg-0" autocomplete="off">
          <input class="form-control mr-sm-2 flex-grow-1 border-top-0 border-left-0 border-right-0"
            [(ngModel)]="searchCountry" name="cityName" type="text" placeholder="Type City Name">
          <button class="btn btn-default shadow-none bg-none my-2 my-sm-0" type="button"
            (click)="searchCountryByName()">
            <h4>
              +
            </h4>
          </button>
        </form>
      </div>
      <div class="card-body p-3">
        <ng-container *ngIf="searchHistory?.length>0">
          <p>Recent Location</p>
          <div *ngFor="let x of searchHistory;let i =index">
            <ul class="list-group">
              <li class="list-group-item p-2 cursor-pointer mb-2" [class.active]="i == activeIndex"
                (click)="fetchWeatherHistoryOfFiveDays(x,i)">
                <div class="d-flex align-items-center my-auto">
                  <div>
                    {{ x.name }} -
                    {{ x?.calculatedCelcius | number:'1.0-1' }}°C
                  </div>
                  <div class="ml-auto my-auto">
                    <div class="d-inline-flex">
                      <button class="btn btn-default shadow-none bg-none" (click)="refreshWeather(x,i)">
                        <h5 class="m-0">
                          <i class='bx bx-refresh'></i>
                        </h5>
                      </button>
                      <button class="btn btn-default shadow-none bg-none" (click)="removeHistory(i)">
                        <h5 class="m-0">
                          <i class='bx bx-x'></i>
                        </h5>
                      </button>
                    </div>
                  </div>

                </div>
              </li>

            </ul>


            <!-- <button class="btn btn-info" (click)="fetchWeatherHistoryOfFiveDays(x)">
              <p><span [class]="'ico-'+x.weather[0].icon" [title]="x.weather[0].icon"></span></p>
  
              {{ x.name }}
              <img [src]="'http://openweathermap.org/img/w/'+x.weather[0].icon+'.png'" alt="">
              {{ wetherOfCountryData?.calculatedCelcius | number:'1.0-1' }}°C
            </button> -->
          </div>
        </ng-container>

      </div>
      <div class="card-footer text-right">
        <button class="btn btn-default shadow-none" (click)="clearHistory()">Clear</button>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-xl-9">


    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="search" [(ngModel)]="searchCountry" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="button" (click)="searchCountryByName()">Search</button>
    </form> -->
    <!-- {{searchCountry}} -->
    <!-- <b>
      find weather
    </b>
    khjjj -->
    <!-- <p><span class="ico-01d" title="01d"></span></p>
    <div *ngFor="let x of fiveDaysResponse.daily;let i =index">
      <button class="btn btn-info" (click)="fetchWeatherHistoryOfFiveDays(x)">
        <p><span [class]="'ico-'+x.weather[0].icon" [title]="x.weather[0].icon"></span></p>

        
        <img [src]="'http://openweathermap.org/img/w/'+x.weather[0].icon+'.png'" alt="">
        {{ wetherOfCountryData?.calculatedCelcius | number:'1.0-1' }}°C
      </button>
    </div> -->


    <ng-container *ngIf="searchHistory?.length>0">

      
      <ng-container *ngIf="fiveDaysResponse && fiveDaysResponse?.daily?.length>0&& !isLoading">
        <div class="d-flex align-items-center justify-content-end my-auto">
  
          <div class="ml-auto my-auto">
            <div class="d-inline-flex">
              <button class="btn btn-default shadow-none bg-none" 
              (click)="fetchWeatherHistoryOfFiveDays(searchHistory[activeIndex],activeIndex)">
                <h5 class="m-0">
                  <i class='bx bx-refresh'></i>
                </h5>
              </button>
            </div>
          </div>
  
        </div>
        <div class="row">
          <div class="col-4">
            <img [src]="'http://openweathermap.org/img/w/'+searchHistory[activeIndex].weather[0].icon+'.png'"
              alt="weather image" class="w-100">
          </div>
          <div class="col-8 text-left my-auto">
            <div class="d-flex flex-column" style="gap: 10px;">
              <div>
                {{ searchHistory[activeIndex]?.calculatedCelcius | number:'1.0-1' }}°C


              </div>
              <div>{{ searchHistory[activeIndex].weather[0].description }}</div>
              <div>Wind: {{ searchHistory[activeIndex].wind.speed }}ms {{ searchHistory[activeIndex].calculatedCelcius
                }}deg </div>
              <div>Pressure {{ searchHistory[activeIndex].main.pressure }} </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-3" *ngFor="let x of fiveDaysResponse.daily;let i =index">
            <div class="card">
              <div class="card-body">
                <h4>{{ x.convertedDate }}</h4>
                <h4>{{ x.convertedDay }}</h4>
                <img [src]="'http://openweathermap.org/img/w/'+x.weather[0].icon+'.png'" style="width: 50px;" alt="">
                <p>
                  {{ x.temp.day }}
                </p>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
      <ng-container *ngIf="!fiveDaysResponse||fiveDaysResponse?.daily.length==0 && !isLoading">
        <div class="card">
          <div class="card-body m-auto ">
            <p>Please Select atleast one location to view the upcoming forcase</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>